.popolari ol {
  counter-reset: item;
  list-style-type: none;
}
.popolari li {
  display: block;
}
.popolari li:before {
  content: counter(item) "  ";
  counter-increment: item;
}

#banner {
  max-height: 50vh;
}

.spotify-color {
  background-color: #1ed760;
}

#go-back {
  top: 20px;
  left: 20px;
  opacity: 40%;
  width: 40px;
  height: 40px;
}

/* Freccie sinistra e destra + pupo */

#arrows-icon {
  top: 0;
  left: 0;
}

/* Nome artista */

#name-artist {
  font-size: 50px;
  font-weight: 700;
  bottom: 0;
  left: 20px;
  margin: 0;
  line-height: 70px;
}

.like {
  bottom: 10px;
}

.like-mobile {
  bottom: -10px;
}

#footer-mobile {
  padding-top: 10px;
  height: 120px;
  background: #000000;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(18, 18, 18, 0.1) 100%
  );
}
