body {
  overflow-y: hidden;
}

.col-scrollable {
  height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  .col-scrollable {
    height: calc(100vh - 150px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
#sidebar {
  height: calc(100vh);
  overflow-y: auto;
  overflow-x: hidden;
}


.col-scrollable::-webkit-scrollbar {
  width: 8px;
}
.col-scrollable::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

.uniform-numbers {
  text-align: right;
  font-variant-numeric: tabular-nums;
  width: 10px;
}

#banner {
  max-height: 50vh;
  object-fit: cover;
  object-position: center;
}

.spotify-color {
  background-color: #1ed760;
}

#go-back {
  top: 20px;
  left: 20px;
  opacity: 40%;
  width: 40px;
  height: 40px;
}

/* Freccie sinistra e destra + pupo */

#arrows-icon {
  top: 0;
  left: 0;
}

/* Nome artista */

#name-artist {
  font-size: 50px;
  font-weight: 700;
  bottom: 0;
  left: 20px;
  margin: 0;
  line-height: 70px;
}

.like {
  bottom: 10px;
}

.like-mobile {
  bottom: -10px;
}

#footer-mobile {
  padding-top: 10px;
  height: 120px;
  background: #000000;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(18, 18, 18, 0.1) 100%
  );
}

#load-more {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 700;
  &:hover {
    color: grey;
  }
}

.li-hover {
  padding: 10px;
  border-radius: 10px;
  &:hover {
    background-color: rgba(128, 128, 128, 0.219);
    color: white;
    .track-title:hover {
      text-decoration: underline;
    }
  }
}
