/* Pulsante per tornare indietietro nell banner principale dell'artista */

#banner {
  max-height: 50vh;
}

.spotify-color {
  background-color: #1ed760;
}

#go-back {
  top: 20px;
  left: 20px;
  opacity: 40%;
  width: 40px;
  height: 40px;
}

/* Freccie sinistra e destra + pupo */

#arrows-icon {
  top: 0;
  left: 0;
}

/* Nome artista */

#name-artist {
  font-size: 50px;
  font-weight: 700;
  bottom: 0;
  left: 20px;
  margin: 0;
  line-height: 70px;
}
