body {
  background-color: #1b1b1b;
  color: white;
}

#main-album {
  background: #1e1e1e;
  background: radial-gradient(at right top, #1e1e1e, #000000);
  h1 {
    font-size: 60px;
    margin: 0;
    font-weight: 700;
  }
  p {
    margin: 0;
  }
}
.playlist-card {
  background-color: #2a2a2a;
  border-radius: 8px;
}
li {
  color: #b3b3b3e8;
}
.active {
  color: white;
  font-weight: bold;
}
a:hover {
  color: white;
  cursor: pointer;
}
i {
  color: #b3b3b3e8;
  cursor: pointer;
}
i:hover {
  color: white;
}
/* bottone verde */
.btn-green {
  background-color: #1ed760;
  border: none;
  padding: 11px 33px;
  color: black;
  font-weight: bold;
}
.btn-green:hover {
  background-color: #16a849;
}
/* bottone nero */
.btn-black {
  background-color: black;
  border: 0.5px solid rgb(139, 139, 139);
  padding: 10px 30px;
  font-weight: bold;
  color: white;
}
.btn-black:hover {
  background-color: rgb(49, 49, 49);
  border: 0.5px solid white;
}
/* bottone grigio */
.btn-gray {
  background-color: rgba(41, 41, 41, 0.651);
  border: none;
  border-radius: 25px;
  padding: 5px 35px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.534);
  cursor: pointer;
}
/* bottone freccia*/
.btn-dark {
  background-color: #000000;
  border: none;
  color: #ccc;
  width: 40px;
  height: 40px;
}
.btn-dark:hover {
  background-color: #1e1e1e;
  color: #fff;
  border: 0.5px solid rgba(255, 255, 255, 0.479);
}

/* album page styles */
#name-album {
  font-size: 84px;
  font-weight: 700;
  margin: 0;
}
#img-album {
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}
.btn-play {
  background-color: #1ed760;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.btn-play i {
  margin-left: 4px;
  margin-bottom: 1px;
}
.btn-play:hover {
  background-color: #16a849;
  cursor: pointer;
}
