body {
  background-color: #161616;
  color: white;
}

.playlist-card {
  width: 33%;
}
li {
  color: #b3b3b3e8;
}
li .active {
  font-weight: bold;
}
i {
  color: #b3b3b3e8;
  cursor: pointer;
}
/* bottone verde */
.btn-green {
  background-color: #1ed760;
  border: none;
  padding: 11px 33px;
  color: black;
  font-weight: bold;
}
.btn-green:hover {
  background-color: #16a849;
}
/* bottone nero */
.btn-black {
  background-color: black;
  border: 0.5px solid rgb(139, 139, 139);
  padding: 10px 30px;
  font-weight: bold;
  color: white;
}
.btn-black:hover {
  background-color: rgb(49, 49, 49);
  border: 0.5px solid white;
}
/* bottone grigio */
.btn-gray {
  background-color: rgba(41, 41, 41, 0.651);
  border: none;
  border-radius: 25px;
  padding: 5px 35px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.534);
  cursor: pointer;
}
/* nav-link-active */
.nav-link-active {
  color: white;
  text-decoration: none;
}
